.verification-container {
  width: 50vw;
}
.form-field {
  font-size: 14px;
  width: 20vw;
  height: 40px;
  padding: 0 14px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: 0;
  transition: .2s;
}
.form-field:focus {
  border-color: #0f7ef1;
}
button {
  background-color: #65a3be;
  border-radius: 4px;
  height: 40px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}
button:hover {
  opacity: 0.8;
}
button:focus {
  outline: none;
}
form {
  position: relative;
}
.input-error {
  position: absolute;
  color: red;
  font-size: 14px;
  left: 0;
  top: 64px;
}
@media screen and (max-width: 767px) {
  .form-field {
    width: 90vw;
  }
  .verification-container {
    width: 90vw;
  }
  button {
    margin: 20px 0;
  }
  .input-error {
    top: 62px;
  }
}
