<div *ngIf="macAddressDetails">
  <h3>
    Информация о mac-адресе
  </h3>
  <table class="table table-responsive mt-4">
    <tbody>
    <tr>
      <td>
        тип администрирования
      </td>
      <td>
        {{macAddressDetails.administrationType}}
      </td>
    </tr>
    <tr>
      <td>
        тип трансмиссии
      </td>
      <td>
        {{macAddressDetails.transmissionType}}
      </td>
    </tr>
    <tr>
      <td>
        виртуальная машина
      </td>
      <td>
        {{macAddressDetails.virtualMachine}}
      </td>
    </tr>
    <tr *ngIf="macAddressDetails.applications.length > 0">
      <td>
        приложения
      </td>
      <td>
        {{macAddressDetails.applications}}
      </td>
    </tr>
    <tr *ngIf="macAddressDetails.wiresharkNotes">
      <td>
        дополнительные сведения
      </td>
      <td>
        {{macAddressDetails.wiresharkNotes}}
      </td>
    </tr>
    <tr *ngIf="macAddressDetails.comment">
      <td>
        комментарии
      </td>
      <td>
        {{macAddressDetails.comment}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
